<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Olá, {{user.username}}</h1>

  <div>
      <fieldset>
        <legend>Suas carteiras:</legend>
      {% if not portfolios.count%}
          <p>Nenhuma Carteira encontrada</p>
      {% else %}
        {% for entry in portifolios %}
        <p>{{entry}}</p>
        {% endfor %}
      {% endif %}
      </fieldset>
  </div>
  <fieldset>
        <legend>Procurar ações</legend>
        <label for="tickerfield">Ticker das ações</label>
        <input type="text" name="ticker" id="tickerfield">
        <button id="searchBtn">Buscar</button>
    </fieldset>
<div id="results"></div>
<script>
        document.getElementById('searchBtn').addEventListener('click', function() {
            const ticker = document.getElementById('tickerfield').value;
            const token = "{{token}}";

            if (ticker) {
                fetch(`https://brapi.dev/api/quote/list?search=${ticker}&token=${token}`)
                .then(response => response.json())
                .then(data => {
                    let resultDiv = document.getElementById('results');
                    resultDiv.innerHTML = '';

                    if (data && data.stocks && data.stocks.length > 0) {
                        data.stocks.forEach(stock => {
                            let stockInfo =
                                `<div style="display: flex; align-items: center; justify-content: space-around;">
                                    <p>${stock.type} / ${stock.sector}</p>
                                    <p>${stock.stock} - ${stock.name}: ${stock.close} (Último fechamento)</p>
                                     <button>Adicionar</button>
                                 </div>`;
                            resultDiv.innerHTML += stockInfo;
                        });
                    } else {
                        resultDiv.innerHTML = '<p>Nenhum resultado encontrado</p>';
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar ações:', error);
                });
            } else {
                alert('Por favor, insira um ticker!');
            }
        });
    </script>
</body>
</html>